:root {
    --font-family: "Arial", "Helvetica", sans-serif;
    --primary-color: #0499a5;
    --secondary-color: #82d5c3;
    --body-text-color: #082642;
    --form-border-radius: 3px;
    --form-border-color: #333;
    --form-border-width: 1px;
    --form-label-color: #666;
    --form-label-font-size: 14px;
    --form-input-padding: 5px 10px;
    --link-color: var(--primary-color);
    --link-hover-color: var(--secondary-color);
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--body-text-color);
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.completion-row {
    font-weight: 800;
    font-size: 1.25rem;
}

.completion-rate {
    margin-left: 1rem;
}

.todo-list {
    margin-bottom: 1rem;
}

.todo-list-item {
    padding-bottom: 0.5rem;
}

.todo-list-item label {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.todo-list-item.active {
    text-decoration: line-through;
}

.todo-list-item:not(.active) {
    color: red;
}
