:root {
    --font-family: "Arial", "Helvetica", sans-serif;
    --primary-color: #0499a5;
    --secondary-color: #82d5c3;
    --body-text-color: #082642;
    --form-border-radius: 3px;
    --form-border-color: #333;
    --form-border-width: 1px;
    --form-label-color: #666;
    --form-label-font-size: 14px;
    --form-input-padding: 5px 10px;
    --link-color: var(--primary-color);
    --link-hover-color: var(--secondary-color);
    --btn-bg: blue;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--body-text-color);
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.completion-row {
    font-weight: 800;
    font-size: 1.25rem;
}

.completion-rate {
    margin-left: 1rem;
}

.todo-list {
    margin-bottom: 1rem;
}

.todo-list-item {
    padding-bottom: 0.5rem;
}

.todo-list-item label {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.todo-list-item.active {
    text-decoration: line-through;
}

.todo-list-item:not(.active) {
    color: red;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-errors {
    margin-bottom: 1rem;
}

.form-errors li {
    padding: 5px;
    background: hsl(0, 45%, 67%);
    margin-bottom: 1px;
    color: #fff;
    font-size: 14px;
}

.form-input {
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #999;
    min-width: 100px;
}

.btn {
    background: var(--btn-bg);
    border-radius: 3px;
    border: 1px solid var(--btn-bg);
    min-width: 50px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.btn-del {
    background: red;
    border-color: red;
    border-radius: 25px;
    margin-left: 1rem;
    padding: 5px;
}
